/* Scrollbar Styling */
::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover);
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-track);
}

/* Responsive Text Scaling */
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1rem;
  font-weight: bold;
}

p {
  margin-bottom: 1rem;
}
